<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ page import="pers.geolo.logisticsassistant.entity.Cargo" %>
<%@ page import="java.util.List" %>
<%@ page import="pers.geolo.logisticsassistant.entity.Request" %>
<%@ page import="pers.geolo.logisticsassistant.value.CargoState" %>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>我的发布-尼玛拉货</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min2.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="assets/css/ready.css">
	<link rel="stylesheet" href="assets/css/demo.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
		// 发送承运请求
		function request(cargoId) {
			$.ajax({
				url: 'request',
				data: {'cargoId': cargoId},
				success: function (data) {
					console.log(data);
					if (data.response === "requestSuccess") {
						alert("申请成功！");
						s("request").innerText = "已申请";
						s("request").disabled = true;
					} else if (data.response === "permissionDenied") {
						alert("权限不足！");
					}
				},
				error: function (data) {
					console.log(data);
				}
			});
		}

		// 选择司机
		function selectDriver(buttonId, cargoId, driverId) {
			$.ajax({
				url: 'selectDriver',
				data: {
					'driverId': driverId,
					'cargoId': cargoId
				},
				success: function (data) {
					console.log(data);
					if (data.response === "selectSuccess") {
						alert("选择成功！");
						s("select_driver" + buttonId).innerText = "已选择";
						s("select_driver" + buttonId).disabled = true;
					} else if (data.response === "permissionDenied") {
						alert("权限不足！");
					}
				},
				error: function (data) {
					console.log(data);
				}
			});
		}

		function s(id) {
			return document.getElementById(id);
		}
	</script>
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					我的主页
				</a>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="assets/img/profile.jpg" alt="user-img" width="36" class="img-circle"><span >Hizrian</span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<!-- 右上用户信息列表 -->
									<div class="user-box">
										<div class="u-img">
											<img src="assets/img/profile.jpg" alt="user">
										</div>
										<div class="u-text">
											<h4>Hizrian</h4>
											<p class="text-muted">hello@themekita.com</p>
											<a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="profile.html"><i class="ti-user"></i>我的资料</a>
								<a class="dropdown-item" href="#"></i>我的消息</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="login.html"><i class="fa fa-power-off"></i>注销</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- 左侧导航栏 -->
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="assets/img/profile.jpg">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								Hizrian
								<span class="user-level">司机</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>

						<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
							<ul class="nav">
								<li>
									<a href="profile.html">
										<span class="link-collapse">我的资料</span>
									</a>
								</li>
								<li>
									<a href="#settings">
										<span class="link-collapse">我的消息</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a href="index.html">
							<i class="la la-dashboard"></i>
							<p>我的主页</p>
							<!-- <span class="badge badge-count">5</span> -->
						</a>
					</li>
					<li class="nav-item active">
						<a href="myPublish.html">
							<i class="la la-table"></i>
							<p>我的发布</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="publish.html">
							<i class="la la-keyboard-o"></i>
							<p>我要发货</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="allPublished.html">
							<i class="la la-car"></i>
							<p>我要接单</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="myRequest.html">
							<i class="la la-bell"></i>
							<p>我的请求</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="tradeOrder.html">
							<i class="la la-font"></i>
							<p>我的订单</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="icons.html">
							<i class="la la-fonticons"></i>
							<p>Icons</p>
						</a>
					</li>
					<li class="nav-item update-pro">
						<button  data-toggle="modal" data-target="#modalUpdate">
							<i class="la la-hand-pointer-o"></i>
							<p>Update To Pro</p>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<!-- main-pannel -->
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<div class="container-fluid">
						<h4 class="page-title">我发布的订单</h4>
						<div class="row">
							<%
							Cargo cargo = (Cargo) request.getAttribute("cargo");
							List<Request> requestList = (List<Request>) request.getAttribute("requestList");
							%>
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">
											<a href=""><button class="btn btn-primary"><i class="la la-arrow-left"></i></button></a>
										</div>
									</div>
									<div class="card-body">
										<ul class="list-group">
											<li class="list-group-item">货物编号:<%= cargo.getId()%></li>
											<li class="list-group-item">货主用户名:<%= cargo.getShipperId()%></li>
											<li class="list-group-item">发布时间：<%= cargo.getPublishTime()%></li>
											<li class="list-group-item">货物名称: <%= cargo.getCargoName()%></li>
											<li class="list-group-item">货物类型: <%= cargo.getCargoType()%></li>
											<li class="list-group-item">起点: <%= cargo.getOrigin()%></li>
											<li class="list-group-item">终点：<%= cargo.getDestination()%></li>
											<li class="list-group-item">距离：</li>
											<li class="list-group-item">运费： value=<%= cargo.getFreight()%></li>
											<li class="list-group-item">货物状态：<%= cargo.getCargoState()%></li>
										</ul>
									</div>
									<%
									// 如果选定司机
									if (cargo.getCargoState() != CargoState.WAITING_FOR_DRIVER) {
									out.print("<label>运输司机:" + cargo.getDriverId() + "</label> <br>\n" +
									"    <label>成交时间:" + cargo.getDealTime() + "</label>");
									}
									%>
									<div class="table-group">
										承运司机列表：
										<%
										if (requestList != null) {
										out.print("<ul>");
										for (int i = 0; i < requestList.size(); i++) {
										Request cargoRequest = requestList.get(i);
										out.print("<li> 司机：" + cargoRequest.getDriverId() + "<br>申请时间：" +
											cargoRequest.getRequestTime() + "</li>");
										out.print("<button id=\"select_driver" + i + "\" onclick=\"selectDriver(" +
										i + "," + cargo.getId() + "," + cargoRequest.getDriverId() + ")\" >选择司机</button>");
										}
										out.print("</ul>");
										}
										out.print("<button id=\"request\" onclick=\"request(" + cargo.getId() + ")\">申请承运</button>");
										%>
									</div>
									<div class="card-footer">
										<h6>申请司机列表：</h6>
										<div class="col-md-6">
											<table class="table table-hover">
												<tr><strong>
													<td>司机用户名</td>
													<td>申请时间</td>
													</strong>
												</tr>
												<tr>
													<td>张三</td>
													<td>2018年12月31日</td>
													<td><button class="btn btn-success btn-xs">选择司机</button></td>
												</tr>
												<tr>
													<td>李四</td>
													<td>2018年12月30日</td>
													<td><button class="btn btn-success btn-xs">选择司机</button></td>
												</tr>
											</table>
										</div>
									</div>
									<div class="button" align="center">
										<a href="./cargoDetail.html">
											<button class="btn btn-success" type="submit">申请承运</button>
										</a>
									</div>
									<div><br></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script>
	$( function() {
		$( "#slider" ).slider({
			range: "min",
			max: 100,
			value: 40,
		});
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 500,
			values: [ 75, 300 ]
		});
	} );
</script>
</html>